
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480319059186'); /* IE9*/
  src: url('iconfont.eot?t=1480319059186#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480319059186') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480319059186') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480319059186#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\343f"; }

.icon-dianhua:before { content: "\f0032"; }

.icon-tubiaozitihua09:before { content: "\e741"; }

.icon-github:before { content: "\e69f"; }

.icon-kafei:before { content: "\e6aa"; }

.icon-augicyunxiazai:before { content: "\e615"; }

.icon-saishijiangbei:before { content: "\e61f"; }

.icon-yezi:before { content: "\e74a"; }

.icon-tuite:before { content: "\e609"; }

