*{
  margin: 0;
  padding: 0;
}
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1481249420347'); /* IE9*/
  src: url('../font/iconfont.eot?t=1481249420347#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1481249420347') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1481249420347') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1481249420347#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:32px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.layout{
  float: left;
  line-height: 35px;
  margin-right: 10px;
  height: 35px;
}
i:hover{
  color: #5a1dc7;
}



