/* goTopåŒº */

.go-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 12px;
    line-height: 64px;
    text-align: center;
    opacity: 1;
    z-index: 19;
    transition: all 0.25s;
    cursor: pointer;
    display: none;
}

.go-top:hover {
    opacity: 0.6;
}

.hide {
    display: none;
}
