#header{
  height: 20px;
  background: #ccc;
}
#footer{
  height: 20px;
  background: #ccc;
  clear: left;
}
#all{
  /*float: left;*/
  padding-left: 200px;
}
#all:after{
  content: "";
  display: block;
  clear: both;
}
.main{
  float: left;
  background: green;


}
.aside{
  float: left;
  width: 200px;
  height: 100px;
  background: red;
  margin-left: -100%;
  position: relative;
  left: -200px;

}
