html,body,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
  font-size: 14px;
  text-align: center;
}

.layout {
  max-width: 100%;
  margin: 0 auto;
  /*text-align: center;*/
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

h2{
	font-size: 40px;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	
}

h3{
	font-size: 20px;
	font-style: italic;
	color: #ccc;
	padding-bottom: 20px;
}
/*-----------nav-------------*/

nav .logo{
	float: left;
	margin-left: 25%;
	margin-right: 22%;
	padding: 10px;
}

nav .logo a{
	font-size: 30px;
	color: #2196F3;
}

nav .logo a .icon-iconmao{
	font-size: 25px;
	position: relative;
	left: -20px;
	top: -3px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
 	z-index: 1000;
 	padding: 12px 0;
  	background: rgba(3,3,3,.5);
  	box-shadow: 0 3px 3px rgba(3,3,3,.2);
}

nav li{
	float: left;
}

nav li a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  letter-spacing: 2px;
  margin-left: 5px;
}

nav ul li a:hover{
	color: #ff9800;
}

/*--------------header-----------*/

header{
	background: url(images/nav/logo1.jpg) no-repeat;
	background-position: center center;
	width: 100%;
	height: 800px;
}

header h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 60px;
	padding-top: 250px;
	color: #fff;
}

header p{
	font-size: 32px;
	font-style: italic;
	padding-top: 45px;
	padding-bottom: 120px;
	color: #a65353;
}

header .btn{
	border: 1px solid #87ceeb;
	padding: 22px 8px 22px 8px;
	border-radius: 10px;
	background-color: #87CEEB;
	color: #2c7899;
	font-weight: 800;
}

/*------------Services Section------------*/
.services{
	margin-left: 250px;
	margin-right: 250px;
	padding-top: 105px;
  	padding-bottom: 250px;
}


.services .iconfont{
	font-size: 80px;
}

.services-list li{
  float: left;
  width: 33.33333%;
  margin-top: 50px;
}

.services p{
	margin: 20px;
	color: #666;
}

.services .icon-bianmingongjumeishicaipu{
	color: #ff4f4f;
}

.services .icon-shipin{
	color: #4fc0eb;
}

.services .icon-help{
	color: #ffd34f;
}


	/*----------Pet type--------*/
	
.category{
	background: #f7f7f7;
	padding-top: 105px;
  	padding-bottom: 250px;
}

.category-list{
	margin-left: 11%;
	margin-right: 11%;
}
		
.category .category-list li img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 350px;
  height: 230px;
}

.category .category-list h4{
	font-size: 30px;
	padding-bottom: 5px;
	color: #2c7899
}

.category .category-list p{
	font-style: italic;
	color: #666;
}

.category .category-list li {
  	margin-left: 30px;
  	margin-right: 30px;
	width: 350px;
	height: 300px;
  	float: left;
  	background: #fff;
  	border-radius: 8px;
  	margin-bottom: 30px;
  	position: relative;	
	display: inline-block;
}

.category .category-list li figcaption{
	position: absolute;
	background-color: rgba(153,153,153,.5);
	left: 0;
	right: 0;
	bottom: 
	bottom: 24%;
	opacity: 0;
	transition: opacity .75s ease-out;
}

.category .category-list li:hover figcaption{
	opacity: 1;
}

.category .category-list li .iconfont{
	font-size: 200px;
	vertical-align: middle;
	color: #fff;
}


	/*-------------About Section-----------*/
	
.container{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 105px;
  	padding-bottom: 250px;
}
.about-list{
	margin-top: 60px;
	padding: 0;
}

.about-list img{
	width: 156px;
	height: 156px;
	border: 6px solid #2196F3;
	border-radius: 50%;
}

.about-list>li{
	position: relative;
	padding: 0 0 125px 0;
}

.about-list>li:last-child{
	padding-bottom: 0;
}

.about-list>li>.summary{
	position: absolute;
	right: 50%;
	margin-right: 90px;
	text-align: right;
	top: 0;
	width: 30em;
	line-height: 25px;
}

.about-list>li:nth-child(even)>.summary{
	left: 50%;
	margin-left: 90px;
	text-align: left;
}

.about-list>li::after{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	border-left: 2px solid #2196f3;
	margin-left: 1px;
	height: 100%;
	z-index: -1;;
}

.about-list .story{
	width:156px;
 	height: 156px;
  	border-radius: 50%;
  	border :6px solid #2196f21;
  	background: #2196f2;
 	display: inline-block;
}

.about-list .story p {
 	margin-top: 50px;
 	font-size: 22px;
 	color: #fff;
 	font-weight: 900;
}

  /*------------Team Section------------*/
 .team {
 	background: #f7f7f7;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 105px;
  	padding-bottom: 300px;
}

 .team img{
 	display: inline-block;
 	width: 150px;
 	height: 150px;
 	border: 2px solid #fff;
 	border-radius: 50%;
 }
 
 .team ul{
 	margin-top: 35px;
 	margin-left: 32%;
 	margin-right: 32%;
 }
 
 .team li{
 	float: left;
 	padding: 0 90px;
 }
 
 .team li h4{
 	font-size: 30px;
 	padding: 10px;
 }
 
 .team li i{
 	font-size: 25px;
 	padding: 5px;
 }
 
 
   /*-------------Clients Aside----------*/
 
 .content-us{
 	background: #333;
 	padding-top: 105px;
  	padding-bottom: 140px;
 }
 
 .content-us h2{
 	color: #fff;
 }
 
 .content-us .form-group{
 	float: left;
 	width: 500px;
	margin: 0 20px;
 }
 .content-us form{
  	margin-left: 20%;
  	margin-right: 20%;
 }
 
 .content-us .form-control{
 	display: block;
 	font-size: 20px;
 	box-sizing: border-box;
 	padding: 15px;
 	width: 100%;
 	margin-bottom: 20px;
 	border-radius: 5px;
 }
 
 .content-us textarea{
 	height: 220px;
 }
 
 .content-us .btn{
 	margin-top: 35px;
 	padding: 18px 4px 18px 4px;
 	border: 1px solid #87ceeb;
	border-radius: 10px;
	background-color: #87CEEB;
	color: #2c7899;
	font-weight: 800;
 }
 
/*--------------footer---------*/
.end a{
	color: #333;
}


