html {
    font-size: 1.25em;
}

body{
    margin: 0;
    background: rgb(13, 206, 203);
}

.title {
    margin: 2rem 0 1.5rem;
    text-align: center;
    color: #D3503C;
    text-shadow: 0 0rem 0.4rem #C9422D,
                 0 0.1rem 0.04rem #FFF;
}

.loading-circle {
    position: relative;
    margin: 5rem auto;
    border-top: 1rem solid #267AAA;
    border-right: 1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
    border-left: 1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: loadingCir 1.5s infinite linear;
}

@keyframes loadingCir {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-strip,
.loading-strip::before,
.loading-strip::after {
    width: 1rem;
    height: 4rem;
    background: #33B565;
    animation: loadingStr 1.5s infinite ease-in-out;
}

.loading-strip {
    position: relative;
    margin: 5rem auto;
    animation-delay: 0.32s;
}

.loading-strip::before,
.loading-strip::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
}

.loading-strip::before {
    left: -2rem;
}

.loading-strip::after {
    left: 2rem;
    animation-delay: 0.64s;
}

@keyframes loadingStr {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #33B565;
        height: 4rem;
    }
    20% {
        box-shadow: 0 -1rem #33B565;
        height: 6rem;
    }
}

