*{
  margin: 0;
  padding: 0;
}
body,html,#header,.carousel,.img-ct,.img-ct .item{
  width: 100%;
  height: 100%;
}
.container{
  width:1140px;
  margin:0 auto;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.center{
  text-align: center;
}
h1, h2, h3, h4, h5, h6{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 700;
}

.nav{
  background: #222;
  position: fixed;
  top: 0;
  width: 100%;/*之前漏了width: 100%;导致元素收缩*/
  z-index: 100;
}

.nav-start{
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  line-height: 70px;
  font-size: 30px;
  float: left;
}
.nav-start a{
  color: #fed136;
}
.nav-list{
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  float: right;
  line-height: 70px;
  font-size: 15px;
  font-weight: 700;
}
.nav-list li{
  float: left;
  padding: 0 15px;
}
.nav-list a{
  color: #fff;
}

/*#header*/
#header .item{
  position: relative;
  float: left;
  height: 100%;
}
#header .carousel{
  overflow: hidden;
  position: relative;
}
ul.bullet {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
ul.bullet li {
  width: 16px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
}
.img-ct{
  position: relative;
}
.img-ct:after{
  content: '';
  display: block;
  clear: both;
}
.carousel > a{
  position: absolute;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #4E443C;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;/*重点需要居中,否则无法左右对齐*/
  color: #fff;
  opacity: 0.8;
  box-shadow: 0 0 2px #999;
}
.carousel .pre{
  left: 10px;
}
.carousel .next{
  right: 10px;
}
ul.bullet li.active {
  background: #666;
}
#header .cover{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // opacity: 0.8;

}
.header-middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
.header-middle h1{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  font-style: italic;
}
.header-middle p{
  font-size: 75px;
  line-height: 75px;
  font-weight: 700;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 50px;
}
.header-middle a{
  color: #fff;
  padding:20px 40px;
  background: #fed136;
  font-weight: 700;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 5px;
  display: inline-block;
}

/*#service*/
#service{
  padding:160px 0;
}
#service .container > h2{
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#service .container > p{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  color:#777;
  margin-bottom: 80px;
}
.service-list li{
  width: 380px;
  float:left;
}
.service-list .icon{
  font-size: 100px;
  color: #fed136;
}
.service-list h3{
  margin:25px;
}
.service-list p{
  font-size: 14px;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #777;
}
/*#portfolio*/
#portfolio{
  padding:160px 0 30px 0;
  background: #f7f7f7;
}
#portfolio .container > h2{
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#portfolio .container > p{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  color:#777;
  margin-bottom: 80px;
}
.portfolio-bac{
  width: 360px;
  height: 260px;
  background-size: cover;
  position: relative;
}
.portfolio-bac-hover{
  width: 100%;
  height: 100%;
  background:rgba(254,209,54,.9);
  position: absolute;
  top: 0;
  opacity :0;
  transition:all ease .5s;
}
.portfolio-bac:hover .portfolio-bac-hover{
  opacity:1;
}
.portfolio-bac img{
  width: 360px;
}
.portfolio-bac .icon{
  font-size: 50px;
  font-weight: 700;
  line-height: 260px;
  color: #fff;
}
.portfolio-bottom{
  background-color: white;
  width: 360px;
  padding: 30px 0;
}
.portfolio-bottom h4{
  font-weight: 700px;
  font-size: 18px;
  margin-bottom: 5px;
}
.portfolio-bottom p{
  font-style: italic;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #777;
}
.portfolio-list{
  margin-right:-30px;
}
.portfolio-list li{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.wrap{
  width:900px;
  margin: 0 auto;
}
.wrap div,.wrap ul,.wrap li,.wrap p{
  box-sizing: border-box;
}
#pic-ct{
  position: relative;
}
#pic-ct .item{
  position: absolute;
  padding: 0 0 10px 0;
  width: 280px;
  margin: 10px;
  border: 1px solid #DFDFDF;
  background: #FFF;
  opacity: 0;/*先让其看不见*/
  transition: all .8s;
}
#pic-ct .item img{
  margin: 10px;
  width: 260px;
}
#pic-ct .item .header{
  height: 25px;
  margin: 0 12px;
  border-bottom: 1px solid #DBDBDB;
}
#pic-ct .desp{
  font-size: 12px;
  line-height: 1.8;
  margin: 10px 15px 0;
  color: #777371;
}
#load{
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  background: #fed136;
  font-weight: 700;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 5px;
  cursor: pointer;
}
.wrap p{
  margin-bottom: 30px;
}
/*#about*/
#about{
  padding:160px 0;
}
#about li{
    opacity:0;
    transition: 1s;
}
#about .container{
  width: 940px;
}
#about .container > h2{
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#about .container > p{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  color:#777;
  margin-bottom: 80px;
}
.timeline > li:nth-child(2n+1) .timeline-text{
  width:340px;
  float: left;

}
.timeline > li:nth-child(2n) .timeline-text{
  width:340px;
  float: right;;

}
.timeline-text h4{
  font-weight: 700;
  margin-bottom: 10px;
}
.timeline-text p{
  font-size: 14px;
  color: #777;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.75;
}
.timeline > li{
  margin-bottom: 130px;
}
.timeline > li:nth-child(2n+1) .timeline-text{
  text-align: right;
}
.timeline > li:nth-child(2n) .timeline-text{
  text-align: left;
}
.timeline-pic{
  background: rgb(254, 209, 54);
  text-align: left;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 7px solid #f1f1f1;
  border-radius:100%;
  box-sizing: border-box;
}
.timeline-pic img{
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}
.timeline-last{
  margin-bottom: 0px!important;
}
.timeline-last .timeline-pic{
  text-align: center;
  font-size: 18px;
  color:#fff;
  display: table;
  line-height: 24px;
}
.timeline-last .timeline-pic h4{
  display: table-cell;
  vertical-align: middle;
}
.timeline-box{
  width: 100%;
  position: relative;
}
.timeline:before{
  top:0;
  bottom: 0;
  position: absolute;
  content: '';
  width: 2px;
  background: #f1f1f1;
  left: 50%;
  z-index: -1;
}
/*#team*/

#team{
  padding: 160px 0;
  background: #f7f7f7;
}
#team .container{
  width: 1020px;
}
#team .container > h2{
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#team .container > p{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  color:#777;
  margin-bottom: 80px;
}
.team-pic{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 7px solid #fff;
  box-sizing: border-box;
}
.team-list{
  margin-right: -150px;
}
.team-list li{
  float: left;
  margin-right: 150px;
  width: 240px;
}
.team-pic img{
  width: 100%;
  border-radius: 50%;
}
.team-list h4{
  font-size: 18px;
  margin-top:25px;
}
.team-list p{
  font-size: 14px;
  line-height: 1.75;
  color: #777;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 5px;
}
.team-list .icon{
  font-size: 35px;
  padding: 5px;
  color: black;
}
.team-list a:hover .icon{
  color:rgb(254, 209, 24);
}
#team .container> p:last-child{
  font-style: normal;
  margin-top: 60px;
  margin-bottom: 0;
}
/*#meida*/
#media .container{
  padding: 50px 0;
}
#media .container img{
  margin-left: 42.5px;
  margin-right: 42.5px;
  float: left;
}
/*#contect*/
#contect{
  background-color: #222;
  background-image: url(../image/map-image.png);
  background-repeat: no-repeat;
  background-position:center center;
  padding: 150px 0;
}
#contect .container > h2{
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: white;
}
#contect .container > p{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  color:#777;
  margin-bottom: 80px;
}
#contect input{
  display: block;
  padding: 20px;
  float: left;
  width: 515px;
  line-height: 2;
  margin-bottom: 25px;
  border-radius: 5px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
#contect textarea{
  float: right;
  display: block;
  width: 515px;
  height: 220px;
  padding: 20px;
  border-radius: 5px;
  font-weight: 700;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contect .btn{
  padding: 20px 40px;
  background: #fed136;
  border: 0px;
  border-radius: 5px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
#contect .btn:hover{
  cursor: pointer;
}
/*#footer*/
.footer-container{
  padding: 20px 90px;
}
.footer-left{
  display: inline-block;
  width: 320px;
  float:left;
  line-height: 30px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer-center{
  display: inline-block;
  text-align: center;
  width: 320px;
  float:left;
  font-size: 30px;
  line-height: 30px;
}
.footer-center a{
  color: black;
}
.footer-center a :hover{
  color:#fec503;
}
.footer-right{
  display: inline-block;
  float:right;
  line-height: 30px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footer-right a{
  color: #fec503;
}
.footer-right a:hover{
  text-decoration: underline;
}
