
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1482840716611'); /* IE9*/
  src: url('./iconfont.eot?t=1482840716611#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1482840716611') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1482840716611') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1482840716611#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:25px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.iconfont:hover{
  color: yellow;
}

.icon-lanqiu2shixin:before { content: "\e60b"; }

.icon-lanqiuchang:before { content: "\e602"; }

.icon-lanqiukuang:before { content: "\e60c"; }

