
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1480572269031'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1480572269031#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1480572269031') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1480572269031') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1480572269031#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-maotouying:before { content: "\e639"; }

.icon-bilu:before { content: "\e756"; }

.icon-tubiaozhizuomoban:before { content: "\e6b5"; }

