
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484478418080'); /* IE9*/
  src: url('iconfont.eot?t=1484478418080#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484478418080') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484478418080') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484478418080#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before { content: "\e600"; }

.icon-xing:before { content: "\e62e"; }

.icon-shouji:before { content: "\e60d"; }

.icon-github:before { content: "\e69f"; }

.icon-iconfonticonfontyuandian:before { content: "\e652"; }

.icon-address:before { content: "\e611"; }

.icon-icon:before { content: "\e609"; }

.icon-youxiang:before { content: "\e61c"; }

.icon-ego-blog:before { content: "\e632"; }

