* {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html,
body {
    font-family: "微软雅黑";
    text-align: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

#header {
    height: 100%;
    width: 100%;
    background: url("../img/bg.jpg");
    background-size: cover;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text h1,
.header-text p {
    margin-bottom: 10px;
}

#header a {
    display: inline-block;
    line-height: 50px;
    color: #fff;
    width: 140px;
    background: #6e7b83;
    border: none;
}

#header a:hover {
    background: #383d42;
}

.about-title {
    padding: 60px;
}

.about-title h3 {
    font-size: 30px;
    line-height: 60px;
}

.about-title span {
    line-height: 60px;
    font-size: 20px;
}

.about-title a {
    color: #2398d6;
    font-size: 20px;
}

.about-title a:hover {
    color: #337abd;
}

.about-skills {
    width: 100%;
    background: #337ab7;
    color: #fff;
    padding: 65px 0;
}

.about-skills h3 {
    display: inline;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    margin: 0px auto;
    line-height: 60px;
}

.about-skills ul {
    overflow: auto;
    margin-left: -10px;
    margin-right: -10px;
    /*padding-bottom: 60px;*/
    margin-top: 60px;
}

.about-skills li {
    float: left;
    margin: 0 20px;
    width: 200px;
}

.about-skills p {
    font-weight: 600;
    margin: 10px 0;
}

.about-skills span {
    line-height: 10px;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 15px;
}

.about-skills a {
    color: #000;
    background: #fff;
    display: block;
    line-height: 30px;
    width: 90px;
    margin: 0 auto;
}

.introduce {
    background: url("../img/callout.jpg");
    background-size: cover;
    background-position: -180px 0px;
    padding: 25% 0;
}

.introduce p {
    font-size: 60px;
    line-height: 80px;
    color: #fff;
}

.project {
    padding: 30px 0;
}

.project h3 {
    display: inline;
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    line-height: 80px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1)
}

.project ul {
    overflow: auto;
}

.project ul li {
    float: left;
    width: 460px;
    margin: 10px 10px;
}

.project ul li img {
    width: 100%;
    height: auto;
    text-align: center;
}

.project a {
    background: #999;
    color: #fff;
    display: block;
    margin: 10px auto;
    line-height: 40px;
    width: 100px;
}

.project a:hover {
    background: #666;
}

.footer-info {
    background: #337ab7;
    padding: 60px;
}

.footer-info p {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}


/*.footer-info ul{
    overflow: hidden;
    margin: 0 auto;

}
.footer-info ul li{
  float: left;
  margin: 10px;
  width: 200px;
}*/

.footer-info a {
    color: #fff;
    display: inline-block;
    width: 120px;
    line-height: 50px;
    margin: 10px;
}

.footer-info a:first-of-type {
    background: #fff;
    color: #000;
}

.footer-info a:first-of-type:hover {
    background: #ddd;
}

.footer-info a:last-of-type {
    background: #1f496e;
}

.footer-info a:last-of-type:hover {
    background: #0f2436;
}

.contect {
    padding-top: 100px;
    padding-bottom: 10px;
}

.contect h3 {
    line-height: 50px;
}

.contect p {
    line-height: 40px;
}

.contect p:last-of-type {
    padding-top: 40px;
}

.contect a {
    width: 20px;
    line-height: 60px;
    margin: 0 15px;
    color:#000;
}