* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body{
    width:100%;
}
.container{
    width:900px;
    padding:20px 20px 10px 20px;
    margin:0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    position:relative;
    overflow:hidden;
}
#header{
    padding: 30px 0;
    overflow: hidden;
}
#person{
    overflow: hidden;
}
.favicon{
    width: 150px;
    height: 150px;
    margin-right: 30px;
    margin-left: 60px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.favicon img{
    height: 100%;
    margin-left:-40px;
}
.name{
    font-size: 40px;
    line-height: 80px;
    font-weight: 1000;
    display: block;
    margin-top: 20px;

}
.job{
    font-size: 16px;
    line-height: 16px;
    font-weight: 10;
    display: block;
}
#contect{
    float: right;
    position: absolute;
    top:50px;
    right: 140px;
}
.title{
    font-size:20px;
    padding-bottom: 7px;
    border-bottom: 3px solid black;
}
.discribe{
    padding-top: 7px;
    margin-right: 10px;
}
.discribe p{
    line-height: 26px;
}
.discribe i{
    padding-right: 26px;
}
#main{
    padding: 10px;
    overflow: hidden;
}
.work-experience,
.education,
.activities,
.skills {
    margin-bottom: 10px;
}
.main-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    display: block;
    width: 400px;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 20px;
}
.work-experience ul,
.education ul{
    border-left: 1px solid black;
    padding-left: 70px;
    margin-left: 10px;
    margin-top: 40px;
}
.work-experience ul li,
.education ul li {
    position: relative;
    margin-bottom: 25px;
}

.work-experience ul li:last-of-type,
.education ul li:last-of-type {
    margin-bottom: 0;
}
.work-experience ul li::before,
.education ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -76px;
}
.text-name,
.text-time {
    font-size: 20px;
    line-height: 10px;
    padding-bottom: 16px;
}

.text-time {
    color: #CCC;
}

.text-main {
    line-height: 30px;
}
.education ul li .text-name {
    padding-bottom: 6px;
}

.text-course {
    line-height: 30px;
    color: #CCC;
}

.activities {
    float: left;
}

.activities ul {
    padding-left: 70px;
    margin-left: 10px;
    width: 330px;
}

.activities ul li {
    margin-bottom: 20px;
    position: relative;
}

.activities ul li i {
    float: left;
    font-size: 20px;
    margin-left: -76px;
    margin-top: 6px;
}

.skills {
    float: right;
    padding-right: 10px;
}

.skills ul {
    overflow: hidden;
    width: 400px;
    margin-top: -28px;
}

.skills ul li {
    float: left;
    width: 200px;
    font-size: 18px;
    margin:35px 0 10px 0;
}

.skills ul li i {
    margin-right: 30px;
}
#footer{
    text-align: center;
    border-top:1px solid #CCC;
    line-height: 20px;
    font-size: 14px;
    color:#CCC;
}
#footer p{
    margin-top: 15px;
}
