* {
    box-sizing: border-box;
}
body, ul, li, p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
body {
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
}
a {
    color: #666;
    text-decoration: none;
}

.clearfix:after{
    content:'';
    display: block;
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.mod-tab {
    position: relative;
    margin: 10px;
}

.mod-tab .tabs{
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}
.mod-tab .tabs li{
    float: left;
    padding: 8px 0;
}
.mod-tab .tabs li a{
    padding: 0 10px;
    border-right: 1px solid #ccc;
    line-height: 1;
}
.mod-tab .tabs li:last-child a{
    border: none;
}
.mod-tab .tabs li.active{
    background: #ccc;
}
.mod-tab .tabs li.active a{
    color: #c81623;
}
.mod-tab .panel-ct{
    border: 1px solid #ccc;
    width: 702px;
}
.mod-tab .panel {
    display: none;
}
.mod-tab .panel.active {
    display: block;
}

.mod-tab .prod{
    position: relative;
    float: left;
    width: 220px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #eee;
    background: #fff;
}
.mod-tab .cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.3);
    transition: all 0.3s;
    opacity: 0;
}
.mod-tab .cover .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #c81623;
    color: #c81623;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}
.mod-tab .prod.hover .cover{
    opacity: 1;
}
.mod-tab .prod-ct{
    margin-left: -20px;
    margin-top: -20px;
}
.mod-tab .prod-name{
    height: 36px;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    color: #666;
}
.mod-tab .prod-price{
    text-align: left;
    color: #c81623;
}