
@font-face {font-family: "iconfont";
  src: url(.'../fonts/iconfont.eot?t=1480567709747'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1480567709747#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1480567709747') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1480567709747') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1480567709747#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qianjin:before { content: "\e644"; }

.icon-kaishi:before { content: "\e7b2"; }

.icon-tingzhi-copy:before { content: "\e61a"; }

